
.stimulus-container {
    position: absolute; /* Permite posicionar el estímulo en cualquier lugar del contenedor */
}

.dot {
    width: 20px; /* Tamaño del punto */
    height: 20px; /* Tamaño del punto */
    background-color: black; /* Color del punto */
    border-radius: 50%; /* Hace que el punto sea circular */
}