.container {
    background-color: antiquewhite;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh; /* Ocupa el 95% de la altura de la pantalla */
    width: 95vw; /* Ocupa el 95% del ancho de la pantalla */
    margin: auto; /* Centra el contenedor en la pantalla */
    border: 2px solid black; /* Opcional: añade un borde para resaltar el contenedor */
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten las dimensiones */
    border-radius: 6px;
    margin-bottom: 10px;
}
.stimulus-container {
    position: absolute; /* Permite posicionar el estímulo en cualquier lugar del contenedor */
}
.dot {
    width: 20px; /* Tamaño del punto */
    height: 20px; /* Tamaño del punto */
    background-color: black; /* Color del punto */
    border-radius: 50%; /* Hace que el punto sea circular */
}