.muller-lyer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /* Espaciado entre las líneas */
  margin-bottom: 20px; /* Espaciado entre las líneas y el grupo de botones */
}

.line {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.line-body {
  height: 2px;
  background-color: currentColor; /* Usa el color dinámico */
}

.arrow {
  display: inline-block;
  position: relative;
  width: 20px; /* Tamaño del contenedor de la flecha */
  height: 20px;
}

.arrow.open-left::before,
.arrow.open-left::after {
  content: '';
  position: absolute;
  width: 15px; /* Longitud de las líneas diagonales */
  height: 2px; /* Grosor de las líneas diagonales */
  background-color: currentColor; /* Usa el color dinámico */
}

.arrow.open-left::before {
  transform: rotate(45deg);
  top: 50%;
  left: 0;
  transform-origin: left center;
}

.arrow.open-left::after {
  transform: rotate(-45deg);
  top: 50%;
  left: 0;
  transform-origin: left center;
}

.arrow.open-right::before,
.arrow.open-right::after {
  content: '';
  position: absolute;
  width: 15px; /* Longitud de las líneas diagonales */
  height: 2px; /* Grosor de las líneas diagonales */
  background-color: currentColor; /* Usa el color dinámico */
}

.arrow.open-right::before {
  transform: rotate(-45deg);
  top: 50%;
  right: 0;
  transform-origin: right center;
}

.arrow.open-right::after {
  transform: rotate(45deg);
  top: 50%;
  right: 0;
  transform-origin: right center;
}

.open-right, .open-left {
  width: 0px;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.button-group {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  margin-top: 20px; /* Espaciado entre las líneas y el botón */
}