.container{
    margin: 25px;
    overflow-y: auto;
    max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.full-width {
    width: 100%;
}

.button-group {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    gap: 1rem; /* Espaciado entre los botones */
    margin-top: 1rem; /* Espaciado superior */
}