

<h2 mat-dialog-title>Resultados de los tests</h2>
<mat-dialog-content width="500px" class="mat-typography">
    <div *ngIf="data.tiempoReaccionData.length > 0" class="table-container">
        <h3>
            Resultados del test de tiempo de reacción visual
        </h3>
        <table datatable [dtOptions]="dtOptions" *ngIf="data.tiempoReaccionData">
            <thead>
                <tr>
                    <th>Nº Estímulo</th>
                    <th>Color</th>
                    <th>Tiempo de reacción (ms)</th>
                    <th>Posición</th>
                </tr>
            </thead>
            <tbody>
                stimulusNumber: this.stimulusShowed, reactionTime: reactionTime, stimulusColor: this.stimulusColor.nombre, stimulusPosition: this.nextPosition.nombre
                <tr *ngFor="let resultado of data.tiempoReaccionData">
                    <td>{{ resultado.stimulusNumber }}</td>
                    <td>{{ resultado.stimulusColor.hex }}</td>
                    <td>{{ resultado.reactionTime > 0 ? `${resultado.reactionTime} ms` : 'No pulsado'}}</td>
                    <td>{{ resultado.stimulusPosition.nombre }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="data.mullerLyerData.length > 0" class="table-container">
        <h3>
            Resultados de la ilusión de líneas VH
        </h3>
        <table datatable [dtOptions]="dtOptions" *ngIf="data.mullerLyerData">
            <thead>
                <tr>
                    <th>Nº Estímulo</th>
                    <th>Color</th>
                    <th>Logitud Línea Superior</th>
                    <th>Logitud Línea Inferior</th>
                    <th>Línea pulsada</th>
                    <th>¿Es correcto?</th>
                </tr>
            </thead>
            <tbody>
                stimulusNumber: this.stimulusShowed, reactionTime: reactionTime, stimulusColor: this.stimulusColor.nombre, stimulusPosition: this.nextPosition.nombre
                <tr *ngFor="let resultado of data.mullerLyerData">
                    <td>{{ resultado.stimulusNumber }}</td>
                    <td>{{ resultado.lineColor }}</td>
                    <td>{{ resultado.line1Length }} cm</td>
                    <td>{{ resultado.line2Length }} cm</td>
                    <td>{{ resultado.clickedLine == 1 ? 'Superior' : 'Inferior' }} </td>
                    <td>{{ resultado.correctAnswer ? 'Correcto' : 'Falso' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="data.lineasVHData.length > 0" class="table-container">
        <h3>
            Resultados de la ilusión de Müller-Lyer
        </h3>
        <table datatable [dtOptions]="dtOptions" *ngIf="data.lineasVHData">
            <thead>
                <tr>
                    <th>Nº Estímulo</th>
                    <th>Color</th>
                    <th>Logitud Línea Vertical</th>
                    <th>Espaciado entre líneas</th>
                    <th>Línea pulsada</th>
                    <th>¿Es correcto?</th>
                </tr>
            </thead>
            <tbody>
                stimulusNumber: this.stimulusShowed, reactionTime: reactionTime, stimulusColor: this.stimulusColor.nombre, stimulusPosition: this.nextPosition.nombre
                <tr *ngFor="let resultado of data.lineasVHData">
                    <td>{{ resultado.stimulusNumber }}</td>
                    <td>{{ resultado.verticalLineColor.hex }}</td>
                    <td>{{ resultado.verticalLineLength }} mm</td>
                    <td>{{ resultado.lineSpacing }} mm</td>
                    <td>{{ resultado.clickedLine == 1 ? 'Vertical' : 'Horizontal' }} </td>
                    <td>{{ resultado.correctAnswer ? 'Correcto' : 'Falso' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close] [routerLink]="'/home'" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
