<div class="home-container">
  <h1 class="home-title">TFG Alba Gallardo García</h1>
  <div class="button-group">
      <div class="button-wrapper">
          <button class="home-button" [routerLink]="'/test-tiempo-reaccion'">Estudio de tiempo de reacción visual</button>
      </div>
      <div class="button-wrapper">
          <button class="home-button" [routerLink]="'/muller-lyer'">Ilusión de Müller-Lyer</button>
      </div>
      <div class="button-wrapper">
          <button class="home-button" [routerLink]="'/lineas-vh'">Ilusión líneas VH</button>
      </div>
      <div class="button-wrapper">
        <button class="home-button" (click)="openTiempoReaccionConfigDialog()">Configuración ⚙️</button>
        <button class="home-button" (click)="openInformeDialog()"  title="En desarrollo" >Ver Informe</button>
    </div>
  </div>
</div>